WTForms==2.1
Flask==2.0.0
SQLAlchemy==1.3.0
itsdangerous==2.0.0
authy==2.2.6
Werkzeug==2.0.0
imutils==0.5.4
opencv-python==4.1.2.30
matplotlib==3.4.2
numpy==1.19.5
tensorflow==2.5.0
Pillow==8.2.0
torch==1.8.1
vietocr==0.3.5
Keras==2.4.3
scikit-image==0.18.1
pytesseract==0.3.7
alembic==0.9.7
mtcnn==0.1.0
scipy==1.6.3
